src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="njc-wma-service-cloud-sapi-config" api="resource::9c7004aa-96e2-4922-a6da-b5a889af58b4:njc-wma-service-cloud-sapi:1.0.0:raml:zip:njc-wma-service-cloud-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="njc-wma-service-cloud-sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="njc-wma-service-cloud-sapi-config" />
		<error-handler ref="errorError_Handler" />
       </flow>
    <flow name="njc-wma-service-cloud-sapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="njc-wma-service-cloud-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\advisor:njc-wma-service-cloud-sapi-config">
		<flow-ref doc:name="getAdvisorDetails" doc:id="1b54a1ba-8ef7-414a-b4e9-45e1f66c9a0b" name="getAdvisorDetails"/>
    </flow>
    <flow name="get:\agency:njc-wma-service-cloud-sapi-config">
		<flow-ref doc:name="getAgencyData" doc:id="bd2e7578-745e-4bca-941d-d45a331eef3f" name="getAgencyData"/>
    </flow>
    <flow name="get:\lead:njc-wma-service-cloud-sapi-config">
		<flow-ref doc:name="getLeadDetails" doc:id="5aa50834-af61-454f-9aa1-07d4a87c2fe6" name="getLeadDetails"/>
    </flow>
    <flow name="get:\agency\(code):njc-wma-service-cloud-sapi-config">
		<flow-ref doc:name="getAgencyByCode" doc:id="b525550d-0ab5-40fb-b31b-48e90f72b95a" name="getAgencyByCode"/>
    </flow>
    <flow name="get:\lead\(id):njc-wma-service-cloud-sapi-config">
		<flow-ref doc:name="getLeadById" doc:id="c49de608-c704-4759-9e89-279a809abbdc" name="getLeadById"/>
    </flow>
    <flow name="get:\advisor\(id):njc-wma-service-cloud-sapi-config">
		<flow-ref doc:name="getAdvisorDetailsById" doc:id="980cb818-6c6f-4f88-bbc6-7a1ea608884a" name="getAdvisorDetailsById"/>
    </flow>
</mule>
